{% extends 'bbscopy/base.html' %}
{% load static %}

{% block title %}
UP2U - BBS | 找回密码
{% endblock %}


{% block content %}
<div class="col-4 m-auto">
    <form class="form-signin mt-5" action="{% url 'accounts:find_password' %}" method="POST">
        {% csrf_token %}
        {% if error_message %}
        <h1 class="h3 mt-5 mb-5 text-danger font-weight-normal text-center">{{error_message}}</h1>
        {% else %}
        <h1 class="h3 mt-5 mb-5 font-weight-normal text-center">找回密码</h1>
        {% endif %}
        <label for="inputName">用户名：</label>
        <input type="text" id="inputName" name="inputName" class="form-control mb-3" placeholder="您的用户名是..."
            required autofocus>
        <label for="inputEmail">邮箱：</label>
        <input type="text" id="inputEmail" name="inputEmail" class="form-control mb-3"
            placeholder="您的绑定邮箱是..." required>
        <div class="mb-3">
            <a class="float-right" href="{% url 'accounts:login_user' %}">返回登录</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">校验</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; Masterpaopao</p>
    </form>
</div>
{% endblock %}