{% extends 'bbscopy/base.html' %}
{% load static %}

{% block title %}
UP2U - BBS | 设置新密码
{% endblock %}


{% block content %}
<div class="col-4 m-auto">
    {% if success_message %}
    <h1 class="h3 mt-5 mb-5 text-success font-weight-normal text-center">{{success_message}}</h1>
    {% else %}
        {% if error_message %}
        <h1 class="h3 mt-5 mb-5 text-danger font-weight-normal text-center">{{error_message}}</h1>
        {% else %}
        <h1 class="h3 mt-5 mb-5 font-weight-normal text-center">您好，来这儿有什么事呢？</h1>
        {% endif %}
    {% endif %}
    <form class="form-signin mt-5" action="{% url 'accounts:set_password' %}" method="POST">
        {% csrf_token %}
        <label for="inputName">用户名：</label>
        <input type="text" id="inputName" name="inputName" class="form-control mb-3" value="{{username}}"
            required autofocus>
        <label for="inputPassword1">新密码：</label>
        <input type="password" id="inputPassword1" name="inputPassword1" class="form-control mb-3" placeholder="您的新密码是..."
        minlength="6" maxlength="18" required autofocus>
        <label for="inputPassword2">再次输入新密码：</label>
        <input type="password" id="inputPassword2" name="inputPassword2" class="form-control mb-3"
        minlength="6" maxlength="18" placeholder="再次输入您的新密码..." required>
        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">设置</button>
    </form>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Masterpaopao</p>
</div>

{% if success_status %}
<script>
        window.setTimeout("window.location='/accounts/login/'",2000);
</script>
{% endif %}


{% endblock %}

